.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #e0e0e0;
}
