
.search-bar {
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px; 
  border: 1px solid #ccc; 
  border-radius: 20px;
  padding: 10px; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.search-bar input {
  padding: 10px; 
  margin-right: 10px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  outline: none; 
  width: 250px;
}

.search-bar input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-bar button {
  padding: 10px 15px; 
  border: none; 
  border-radius: 20px; 
  background-color: #007BFF; 
  color: white; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.search-bar button:hover {
  background-color: #0056b3; 
}
