body {
  font-family: Arial, sans-serif;
  background-color: #dca736;
  margin: 0;
  padding: 0;
}

.home-page {
  padding: 20px;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 8px;
  width: 200px;
  margin-right: 10px;
}

.search-bar button {
  padding: 8px;
}
